<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    </style>
  <title>دیجی مپ</title>
</head>
<body>
    <img class="center" src="https://www.linkpicture.com/q/landing.jpeg" alt="دیجی مپ">
</body>
</html>